*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
















.game-area{
  /* border: 5px solid white; */
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,   1fr);
  gap: 5px;
  background-color: white;
}
.cell{
  /* border: 1px solid white; */
  background-color: black;
}


















.chance{
  display: flex;
  gap: 15vw;
  margin: 10px;
}
.chance div{
  background-color: aqua;
  padding: 10px 40px;
  font-size: 1.5rem;
}