*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Questrial;
}
.heading{
  padding: 40px 60px;
}
















.game-area{
  /* border: 5px solid white; */
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,   1fr);
  gap: 4px;
  background-color: white;
}
.cell{
  /* border: 1px solid white; */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  font-weight: bolder;
}


















.chance{
  display: flex;
  gap: 15vw;
  margin: 30px;
}
.chance div{
  /* background-color: aqua; */
  padding: 10px 40px;
  font-size: 3rem;
  font-weight: 900;
}
.p2{
  color: rgb(150,150,150);
}
.p1::after{
  content: "X";
}
.p2::after{
  content: "O";
}